{% extends './base.html' %}

{% block content %}

<h1>{{ tournament.name }}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Person</th>
            <th scope="col">A</th>
            <th scope="col">Winnings</th>
            <th scope="col">B</th>
            <th scope="col">Winnings</th>
            <th scope="col">C</th>
            <th scope="col">Winnings</th>
            <th scope="col">D</th>
            <th scope="col">Winnings</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for p in picks %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ p.person }}</td>
                <td>{{ p.pick_a.player.name }}</td>
                <td>{{ p.pick_a.winnings }}</td>
                <td>{{ p.pick_b.player.name }}</td>
                <td>{{ p.pick_b.winnings }}</td>
                <td>{{ p.pick_c.player.name }}</td>
                <td>{{ p.pick_c.winnings }}</td>
                <td>{{ p.pick_d.player.name }}</td>
                <td>{{ p.pick_d.winnings }}</td>
                <td>{{ p.total_winnings }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}